<div class="page-header">
  <%= link_to new_contract_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract
  <% end %>
  <h1>Listing contracts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Process number</th>
            <th>Year</th>
            <th>Description</th>
            <th>Supplies</th>
            <th>User owner</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @contracts.each do |contract| %>
        <%= content_tag :tr, id: dom_id(contract), class: dom_class(contract) do %>
                      <td><%= contract.title %></td>
                      <td><%= contract.process_number %></td>
                      <td><%= contract.year %></td>
                      <td><%= contract.description %></td>
                      <td><%= contract.supplies %></td>
                      <td><%= contract.user_owner %></td>
                      <td><%= contract.user %></td>
                    <td><%= link_to 'Show', contract %></td>
          <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
          <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
