<p id="notice"><%= notice %></p>

<h1>Contract Event Alerts</h1>

<table>
  <thead>
    <tr>
      <th>Contract event</th>
      <th>Titulo</th>
      <th>Modified at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contract_event_alerts.each do |contract_event_alert| %>
      <tr>
        <td><%= contract_event_alert.contract_event %></td>
        <td><%= contract_event_alert.titulo %></td>
        <td><%= contract_event_alert.modified_at %></td>
        <td><%= link_to 'Show', contract_event_alert %></td>
        <td><%= link_to 'Edit', edit_contract_event_alert_path(contract_event_alert) %></td>
        <td><%= link_to 'Destroy', contract_event_alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract Event Alert', new_contract_event_alert_path %>
