<div class="page-header">
  <%= link_to new_contract_event_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract event
  <% end %>
  <h1>Listing contract_events</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Contract</th>
            <th>Title</th>
            <th>Modified at</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @contract_events.each do |contract_event| %>
        <%= content_tag :tr, id: dom_id(contract_event), class: dom_class(contract_event) do %>
                      <td><%= contract_event.contract %></td>
                      <td><%= contract_event.title %></td>
                      <td><%= contract_event.modified_at %></td>
                    <td><%= link_to 'Show', contract_event %></td>
          <td><%= link_to 'Edit', edit_contract_event_path(contract_event) %></td>
          <td><%= link_to 'Destroy', contract_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
