<div class="page-header">
  <%= link_to new_contract_item_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract item
  <% end %>
  <h1>Listing contract_items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unity value</th>
            <th>Total value</th>
            <th>Modified at</th>
            <th>Contract item group</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @contract_items.each do |contract_item| %>
        <%= content_tag :tr, id: dom_id(contract_item), class: dom_class(contract_item) do %>
                      <td><%= contract_item.number %></td>
                      <td><%= contract_item.title %></td>
                      <td><%= contract_item.description %></td>
                      <td><%= contract_item.quantity %></td>
                      <td><%= contract_item.unity_value %></td>
                      <td><%= contract_item.total_value %></td>
                      <td><%= contract_item.modified_at %></td>
                      <td><%= contract_item.contract_item_group %></td>
                    <td><%= link_to 'Show', contract_item %></td>
          <td><%= link_to 'Edit', edit_contract_item_path(contract_item) %></td>
          <td><%= link_to 'Destroy', contract_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
