<div class="page-header">
  <%= link_to new_contract_item_group_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract item group
  <% end %>
  <h1>Listing contract_item_groups</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Contract</th>
            <th>Title</th>
            <th>Number</th>
            <th>Contracts</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @contract_item_groups.each do |contract_item_group| %>
        <%= content_tag :tr, id: dom_id(contract_item_group), class: dom_class(contract_item_group) do %>
                      <td><%= contract_item_group.contract %></td>
                      <td><%= contract_item_group.title %></td>
                      <td><%= contract_item_group.number %></td>
                      <td><%= contract_item_group.contracts %></td>
                    <td><%= link_to 'Show', contract_item_group %></td>
          <td><%= link_to 'Edit', edit_contract_item_group_path(contract_item_group) %></td>
          <td><%= link_to 'Destroy', contract_item_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
