<div class="page-header">
  <%= link_to new_supplier_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Supplier
  <% end %>
  <h1>Listing suppliers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Cnpj</th>
            <th>Modified at</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @suppliers.each do |supplier| %>
        <%= content_tag :tr, id: dom_id(supplier), class: dom_class(supplier) do %>
                      <td><%= supplier.title %></td>
                      <td><%= supplier.cnpj %></td>
                      <td><%= supplier.modified_at %></td>
                    <td><%= link_to 'Show', supplier %></td>
          <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
          <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
